body {
  margin: 10px;
  font-family: Helvetica;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

h1 {
  color: gray;
}

h2 {
  max-width: 700px;
  font-weight: normal;
}